// WIDTH
$content-width: 960px;

// COLORS
$body-background-color: #c2f3ff;
$button-background-color: #752175;
$button-background-color-hover: #ca37ca;
$card-background-color: #f3e7a5;

// BORDERS
$card-border: 1px solid #000;