.footer {
    &-block {
        display: flex;
        padding: 10px 0;
        width: 50%;
    }

    &-block-left {
        justify-content: flex-start;
        margin-left: 3%;
    }

    &-block-left-link {
        display: flex;
        justify-content: center;
        width: 35px;
        height: 35px;
        border: 1px solid #575757;
        border-radius: 50%;
        padding: 7px 0;
        margin-right: 10px;
    }

    &-block-right {
        position: relative;
        display: flex;
        margin-right: 50px;
        flex-direction: column;
        align-items: flex-end;
        font-size: 12px;
        line-height: 1.5;
        color: $footer-cocntent-color;
    }

    &-up-link {
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -15px;
        margin-left: 15px;
        display: flex;
        width: 30px;
        height: 30px;
        background-image: url(../../images/footer/svg/upicon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        border: 1px solid #575757;
        border-radius: 50%;
    }
}

@media (max-width: 450px) {
    .footer {
        &-block-left,
        &-block-right {
            justify-content: center;
            align-items: center;
        }

        &-block-right {
            margin-right: 0;
        }
    }
}