.header-bottom {
           // DROP MENU
    .bottom-info-wrapper {
        position: absolute;
        z-index: 8;
        top: 0;
        left: 0;
        margin-top: 55px;
        display: flex;
        width: 270px;
        flex-direction: column;
        justify-content: center;    
        padding: 10px 0;
        background-color: #f3f3f3;
        border: 2px solid #afacac;

        transform: scale(0);

        .navigation {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 3px;
        }
    }
    
    .bottom-info-link {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 5px 0 5px 10px;
        color: $header-top-drop-menu-color;
        font-size: 13px;
    }

    .bottom-info-link:nth-child(n + 2) {
        margin-top: 10px;
    }

    .bottom-info-link:hover {
        font-weight: 700;
        background-color: #e6e6e6;
        cursor: pointer;
    }
}

@media (max-width: 650px) {
    .header-bottom {
        .bottom-info-wrapper-last {
            margin-left: -70px;
        }
    }
}