// WIDTH
$content-width: 1200px;

// COLORS
    // BACKGROUNG
$header-top-background-color: rgba(0, 0, 0, .8);
$header-bottom-background-color: rgba(51, 51, 51, 0.75);
$main-swiper-background-color: #000;
$main-card-link-background-color: rgba(51, 51, 51, 0.6);
$main-content-backgroung-color: #d4d1d1;

$popup-background-color: #f3f3f3;
    // TEXT
$header-cocntent-color: #fff;
$header-top-drop-menu-color: #333;
$main-content-top-color: #fff;
$main-content-color: #333;
$footer-cocntent-color: #fff;

$popup-span-required-color: #ff0000;
$popup-part-color: #02548b;
$popup-button-text-color: #fff;
    // BUTTON
$button-learn-more-background-color: #0480d3;
$button-product-background-color: #0480d3;
$button-product-sale-background-color: #f14a4a;