// WIDTH
$content-width: 960px;
$form-width: 520px;
$image-width: 90px;

// COLORS
$primary-text-color: #000;
$secondary-text-color: #fff;
$nav-hover-color: #8a2be2;
$button-color: #8a2be2;
$checkbox-checked-color: #07a507;

    // BACKGROUNG COLORS
    $primary-background-color: #fff;
    $secondary-background-color: #ebe9e9;
    $backgroung-color-hover-card: rgba(246, 236, 255, 0.5);
    $form_wrapper-color:rgba(50, 50, 50, .8);


    // SHADOW-COLORS
    $box-shadow-color: #757373;
    $button-shadow-color: #0059ff;
    $text-shadow-color: #0059ff;