#calendar {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}

#calendar thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}

#calendar thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(50, 50, 50);
}

#calendar thead tr:nth-child(1) td:nth-child(1):hover, 
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar tbody td {
    color: rgb(44, 86, 122);
}

#calendar tbody td:nth-child(n+6), 
#calendar .holiday {
    color: rgb(231, 140, 92);
}

#calendar tbody td.today {
    background: rgb(220, 0, 0);
    border: 1px solid rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#calendar tbody td.trips {
    background: rgb(0, 158, 221);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }